extends master.pug


block content

	div.mainWrapper.container
		h1 Aplication View

		p Name: #{application.character.name}
		p Server: #{application.character.server}
		p BattleTag: #{application.btag}
		p Age: #{application.age}
		p Mainspec: #{application.mainspec}
		p Offspec: #{application.offspec}
		p Experience: #{application.experience}
		p History: #{application.history}
		p Expectations: #{application.expectations}
		p UI: #{application.uiurl}
		p Logs: #{application.logs}
		p Learning: #{application.learning}
		p Strong/weak points: #{application.swpoints}
		p Improving: #{application.improve}
		p Attendance: #{application.attendance}
		p Future: #{application.future}
		p VoiceComm: #{application.voicecom}
		p Discovery: #{application.discovery}
		p Others: #{application.other}



block footer
